# front
# dependencies
front/node_modules/*

# testing
front/coverage

# next.js
front/.next/*
front/out/*

# production
front/build

# misc
.DS_Store
*.pem
export

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# local env files
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

# backend
# dependencies
backend/node_modules/*
backend/tmp/*
backend/log/*

 # RubyMine
.idea/*

# passenger
backend/passenger.3000.pid
backend/passenger.3000.pid.lock
